name: First Workflow
on: workflow_dispatch
jobs:
  first-jobs:
    runs-on: ubuntu-latest
    steps:
      - name: Print greeting
        run: |
          echo "Hello world 1."
          echo "Hello world 2."
      - name: Print goodbye
        run: echo "Bye."
