name: First Workflow
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Get Code
        uses: actions/checkout@v6
      - name: Install NodeJS
        uses: actions/setup-node@v6
        with:
          node-version: 24
      - name: Install dependencies
        run: echo "Install dependencies."
      - name: Run tests
        run: echo "Run Test."
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Get Code
        uses: actions/checkout@v6
      - name: Install NodeJS
        uses: actions/setup-node@v6
        with:
          node-version: 24
      - name: Install dependencies
        run: echo "Install dependencies."
      - name: Run tests
        run: echo "Run Test."        
